# macOS system files
.DS_Store

# Python virtual environments
bin/
include/
lib/
pyvenv.cfg
share/

# xmls y pdfs
boe/xmls/
boe/xmls2023/
boe/xml_little/
boe/pdfs
# Application specific
Ollama.app/

# Compiled Python files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Books
books/

pdfs_10/
# Custom ignores (add directories or files you don't want to track with Git)
# e.g., specific project directories or files, temporary files, private data, etc.
# boe/
# hugginface_llm/
# starter_tutorial_local/
# understanding/

# Excluir archivos grandes
boe/boe.ipynb
starter_tutorial_local/Ollama-darwin.zip


understanding/structured_data_extraction/embeddings

understanding/structured_data_extraction/embeddings_langchain

licitaciones/pdfs

licitaciones/licitaciones_filtered_pdfs

licitaciones/jsons